

.error_column{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    margin: 0 auto;
}

.error_column> img{
width: 100%;
margin-bottom: 0.5rem;
}

.err_p{
    font-weight: 500;
    font-size: 1.3rem;
}

.err_p> a{
    color: rgb(206, 206, 8);
    text-decoration: underline;
}

@media only screen and (max-width: 3020px) {
    .error_column{
        width: 60%;
    }

}

@media only screen and (max-width: 640px) {
.error_column{
    width: 80%;
}
}