

h2{
    text-align: center;
}

button{
    outline: none;
    border: none;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

 .offerlink{
    padding: 0.8rem 1.5rem;
    background-color: black;
    color: white;
    border-radius: 0.3rem;
}



.im{
    margin-top: 2rem;
    /* height: 82vh; */
    background-color: brown;
    position: relative;
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
    padding: 0 var(--homemargin);
}

.im .Link{
    width:60%;
}

.im .Link > img{
    height: 100%;
    width: 100%;
}

.im img{
    cursor: pointer;
}

.together{
   flex-grow: 1;
   width: 30%;
   display: flex;
  gap: 1rem;
    flex-direction: column;
    justify-content: space-between;

}

/* .together Link{
    margin: 0%;
    height: 40%;
} */

.together  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.im2{
  

    width: calc(100% - var(--homemargin)*2);
    margin: 3rem var(--homemargin);
    position: relative;
}

.im2 > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hover{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

h3{
    margin: 0 3.4rem;
    font-size: 1.7rem;
    font-weight: 400;
}

.moreh3{
    margin: 0 var(--homemargin);
}

.outer{
    position: relative;
    width: 100%;
    background-color: brown;
    margin: 1.2rem 0  4.5rem 0;
}

.outer button{
    padding: 1rem;
    /* background-color: white; */
    border-radius: 50%;
    position: absolute;
    bottom: 55%;
}

.leftar{
   left: var(--homemargin);
}

.rightar{

    right: var(--homemargin);

}

.whitebac{
    background-color: white;
}

.scrollthis{
    overflow-x: scroll;
    padding: 0 0 4rem 0;
}

.lists{
     display: inline-flex;  /*inline-flex makes the flex container inline, display:flex will make flex container block */
    background-color: violet;
   gap: 1rem;
   /* width: 300%;
   overflow-x: scroll; */
}

 .norbox2:first-child{
        margin: 0 0 0 var(--homemargin);
        background-color: greenyellow;
}

.norbox2:last-child{
    background-color: indigo;
margin: 0 2.4rem 0 0;
}

.norbox2{
    display: flex;
    flex-direction: column;
    background-color: pink;
}

.norbox2 img{
   width: 30vw;
   height: 30vw;
   object-fit: cover;
}

.maindetail{
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 0 0;
}

.norbox2 p{
    margin: 1rem 0 0 0;
}

.norbox2 .shoecost2{
    display: none;
}

.norbox2 .subdetail{
    margin: 0.4rem 0 0 0;
    color: gray;
    text-transform: capitalize;
}

.scrollthis::-webkit-scrollbar{
    height: 0.5rem;
    
}

.outer:hover .scrollthis::-webkit-scrollbar-thumb,.outer:hover .scrollthis::-webkit-scrollbar-track-piece{
  visibility: visible;
}


.scrollthis::-webkit-scrollbar-thumb{
    background-color: rgb(146, 142, 142);
    border-radius: 1rem;
visibility: hidden;
}


.scrollthis::-webkit-scrollbar-track-piece{
    background-color: rgb(221, 218, 218);
    border-radius: 1rem;
visibility: hidden;
}

.scrollthis::-webkit-scrollbar-track{
  margin: 0 10vw;
}



@media only screen and (max-width: 3020px) {
    :root{
        --homemargin:3.4rem;
    }
    
      }

@media only screen and (max-width: 640px) {
    :root{
--homemargin:1rem;

    }
    .im{
        flex-direction: column;
    }
     
    .im .Link{
        width: 100%;
    }

    .together{
        width: 100%;
        flex-direction: row;
    }
    
    .offerlink{
        padding: 0.4rem 1rem;
    }

    

    .shoecost1{
        display: none;
    }


    .norbox2 img{
        width: 65vw;
        height: 65vw;
    }

    .norbox2 p{
        margin-top: 0.2rem;
        font-size: 0.9rem;
    }

    .norbox2 .subdetail{
        margin: 0%;
    }

   .norbox2 .shoecost2{
        display: block;
    }
    
   
  }