

.navbardiv{
    width: 100%;
    background-color: #3115ac;
    position: relative;
}

.minbar{
font-size: 0.8rem;
font-weight: 500;
display: var(--selectiondisplay);
justify-content: flex-end;
padding: 0.72rem 2.8rem;
}

.vl{
    margin: 0em 1em;
    width: 0.1rem;
    background-color: black;
    position: relative;
    top: 0.1em;
}

.minbar > button, .minbar p{
    background-color: transparent;
    line-height: 0.8rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.74rem;
    padding: 0;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.hoverthis{
    position: relative;
    align-self: center;
}

.hoverthis:hover .usercardcover{
    visibility: visible;
}

.hoverthis:hover .usercardcover .usercard{
 transform: translate(0,0);

}

.usercardcover{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    overflow: hidden;
    padding-top: 0.72rem;
    visibility: hidden;
}

.usercard{
   
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem 4rem 1.5rem 1.5rem;
    font-size: 0.93rem;
    font-weight: 500;
    color: gray;
    border-radius: 0.5rem;
    transform: translate(0,-10%);
    transition: transform ease 200ms;
}

.usercardopt{
   cursor: pointer;
   color: gray;
}

.usercardopt:hover{
    color: rgb(199, 199, 199);
}

.mainbar{
   width: 100%;
    background-color: rgb(151, 19, 19);
    display: flex;
    justify-content: space-between;
   align-items: center;
    font-size: 1rem;
    padding: 0em 2em;
}

h1{
    line-height: 1rem;
    padding: 0%;
    margin: 0.7em;
}

.logo{
    margin: 0 20% 0 0;
    background-color: yellow;
}

.selections{
    display: var(--selectiondisplay);
    justify-content: space-between;
    align-self: stretch;
    width: 30%;
}

.selections div{
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
flex-grow: 1;
/* width: 100%; diff bet flex-grow and width is that width:100% will make children small as possible and then apply the width of largest element to all other elemenets */
/* flex-grow:1 will take available space and divide equal among all children */
}


.selections p{
    margin: 0;
    font-weight: 500;
    font-size: 1.1rem;
}

.input{
    display: var(--displayicon);
    background-color: #F1F1F1;
    padding: 0.5em;
    border-radius: 1.3rem;
    width: 17%;
    margin:  0 3% 0 7%;

}

.input input{
    border:none;
    background-color: transparent;
    font-size: 0.95rem;
    width: 75%;
   margin: 0 0 0 0.8em;
}

.input input:focus{
    outline: none;
}

.input input::placeholder{
color: #cac5c5;
}


.fav{
    display: var(--displayicon);
}

.cart{
    margin: 0 0 0 1.6rem;
}

.search{
    display: var(--hideicon);
    margin: 0 0 0 1.6rem;
}

.options{
    display: var(--hideicon);
     margin: 0 0 0 1.6rem;
}


.iconlist{
    display: flex;
    background-color: blueviolet;
}


.lastbarparent{
    display: var(--displayicon);
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 100%;
    height: 90vh;
    z-index: 2;

}



.lastbar{
    display: flex;
    justify-content: center;
    background-color: white;
transform: translate(0,-100%);
visibility: hidden;
transition:  visibility 0s ease-in 2s , transform 150ms ease-out 0s;
}

.lastbaranim{
visibility: visible;
transform: translate(0,0);
transition: transform 200ms ease-in;
box-shadow: 0 0px 0px 90vh rgba(14, 13, 13, 0.281);

}



.col{
    font-size: 1.15rem;
    margin: 0 5rem 0 0;
}



.lastbar > div > .col:last-child{
    margin: 0;
}


.list{
    font-size: 0.95rem;
    display: flex;
    flex-direction: row;
}

.lastbar .listanim > .col > .list{
    flex-direction: column;
    }

a{
    text-decoration: none;
    color: black;
}

.lastbar .listanim{
    padding:2.5rem;
    animation: listanim 300ms ease-in 200ms 1 normal forwards;
 width: 100%;
}

@keyframes listanim {
    0%{
        transform: translate(0,-10px);
        opacity: 0;
       
    }

    30%{
        opacity: 0;
        visibility: visible;
    }
    100%{
        opacity: 1;
        transform: translate(0,0);
        visibility: visible;
    }
}

.lastbar > div{
  width: 0%;
display: flex;
  justify-content: center;
 overflow: hidden;
  visibility: hidden;

}


.sidebarcover{
    display: var(--hideicon);
    position: fixed;
    right: 0;
    top: 0;
width: 100%;
z-index: 2;
height: 100vh;
width: 100%;
overflow: hidden;
transition: backdrop-filter 210ms linear;
}




.sidebar{
    height: 100%;
    pointer-events: auto;
   margin: 0% 0 0 auto;
    background-color: yellow;
    display: flex;
    width: 35vw;
    overflow:hidden;
transform: translate(100%,0);
transition: transform 210ms ease;
}



.sidebar .col2{
    display: flex;
    flex-direction: column;
    /* transform: scale(1,1); */
    width: 100%;
    transition: width 200ms ease,transform 2s linear,padding 200ms linear;
    padding: 2rem;
}

.col2hide{
    width: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* transform:scale(0,1); */
   padding:2rem  0rem;
   transition: width 200ms ease,transform 2s linear,padding 200ms linear ;

}

.col2 p,.col2hide p{
    margin: 0.5rem 0;
    font-weight: 500;
    font-size: 1.3rem;
}


.sidebar button > span,.sidebar .offerlink > span{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 0.5rem 0;
    border: none;
    outline: none;
    align-items: center;
    gap: 1rem;
}

.sidebar button > .goback,.sidebar .offerlink > span{
    justify-content: flex-start;
    
}

.sidebar button{
    border: none;
    outline: none;
    cursor: pointer;
}

.sidebar .signbuts{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;

}

.signbuts button{
    flex-grow: 1;
    width: 100%;
}

.sidebar .link2{
  font-size: 1.15rem;
  padding: 0.5rem 0.375rem;
  background-color: rgb(239, 239, 239);
}


@media only screen and (max-width: 3020px) {
    :root{
        --hideicon:none;
        --displayicon:block;
        --selectiondisplay:flex;
    }
    
      }

@media only screen and (max-width: 1024px) {
    :root{
--hideicon: block;
--displayicon: none;
--selectiondisplay:none;
    }

    
  }


  @media only screen and (max-width:640px){

    h1{
        margin: 0.7em 0;
    }
      .logo{
          margin:  0 0;
      }
      .sidebar{
        width: 70%;
     }

     .sidebar .offlink2{
         padding: 0.8rem 1.5rem;
     }
  }