p{
    margin: 0%;
}

.infotab{
    /* width: 90%; */
  padding: 0% 2rem 0 2.8rem;
    background-color: rgb(231, 204, 173);
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

h3{
    margin: 0%;
    font-size: 1.6rem;
    text-transform: capitalize;
}

.roots{
    margin: 0;
    padding: 0%;
    font-size: 0.9rem;
    text-transform: capitalize;
}

.cornerbut{
    display: flex;
    align-items: flex-end;
    background-color: chartreuse;
    font-size: 1rem;
    padding: 0 0 4px 0;
    gap: 1.8rem;
}

.cornerbut > div{
    cursor: pointer;
}

.select{
    position: relative;
}

.select p span{
    color: rgb(117, 117, 117);
}

.select p span i{
    color: black;
    font-style: normal;
}


.dropdown_wrapper{
   background-color: greenyellow;
    position: absolute;
    top: 100%;
    right: 0%;
    overflow: hidden;
    z-index: 1;
   /* max-width: 200%; */
   /* width: 100%; */
    /* display: none; */
}

.dropdown{
text-align: right;
padding: 1.5rem 1.3rem 1rem 1.5rem;
border-radius: 1rem;
background-color: coral;
transform: translate(0,-100%);
transition: transform  0.2s ease 0s;
}

.dropdown_effect{
transition: transform  0.35s ease 0s;
    transform: translate(0,0);
}


.dropdown button{
    width: 100%;
    text-align: right;
    font-size: 1rem;
    padding-right:0;
   font-weight: 400;
   white-space: nowrap;
   padding-top:0.4rem;
   cursor: pointer;
   background-color: hotpink;
}

.dropdown button:hover{
    color: rgb(117, 117, 117);
}

.dropdown button:disabled{
    cursor: not-allowed;
    color: rgb(117, 117, 117);
}


.mainbody{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
 max-height: 70vh;
}

.dt > .filterbody{
  width: 0;
 padding: 0%;
 transform: translate(-100%,0);
 transition: width 300ms ease , padding 300ms ease,transform 300ms ease;

}

.dt>.shoelistbody{
    width: 100%;
}

.shoelistbody > h3{
    margin: 0 auto;
}

.filterbody{
    width: 15.8rem;
    background-color: rgb(179, 136, 219);
    padding: 0 1rem 0 2.8rem;
   max-height: 70vh;
    overflow-y: scroll;
    transition: width 280ms ease, padding 280ms ease,transform 300ms ease;
}

.filterbody::-webkit-scrollbar{
    width: 7px;
}

.filterbody::-webkit-scrollbar-track{
    background-color: transparent;
}

.filterbody::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 200px;
}

h5{
    font-size: 1rem;
    margin: 0%;
    padding: 0%;
}

.boxdiv{
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
}

.boxdiv:hover > .gender{
    color: rgb(179, 174, 174);
}





.boxdiv >.box2{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 4px;
    position: relative;
    border: 1px solid rgb(190, 188, 188);
}

.boxdiv > .box2active{
    background-color: black;
    border: 1px solid black;
}


.boxdiv > .box2  .tick2{
    display: inline-block;
    position: absolute;
    top: 23%;
    left: 2px;
    visibility: hidden;
    width: 0;
    height: 0;
    transform: rotate(-45deg);
    border-bottom:2px solid white;
    border-left:2px solid white;
    transition:  height 200ms ease,width 150ms ease;
}

.boxdiv > .box2active > .tick2{
    visibility: visible;
    height: 6px;
    width: 13px;

}

 .boxdiv:hover .box2active + .gender{
    color: black;
}


.boxdiv > .gender{
    display: inline-block;
    color: black;
}








.longdiv{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1rem 0 1rem 0;
    padding: 0.4rem 0 0 0;
    border-top: 1px solid rgb(185, 185, 185);
cursor: pointer;
transition: margin-bottom 300ms ease 0ms;
}


.minimizediv{
    transition: margin-bottom 50ms ease 250ms;
    margin-bottom: 0%;
}

.minimizediv + .bottompadding{
max-height: 0;
}

.bottompadding{
max-height: 300px;
overflow: hidden;
transition: max-height  300ms ease ;
}

.allsizes{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.size{
    padding: 0.4rem 1.3rem;
    border: 1px solid gray;
    border-radius: 0.3rem;
flex-grow: 1;
text-align: center;

}

.size:hover{
    box-shadow: 0px 0px 0 1px  black inset;

}

.sizeactive{
    box-shadow:inset 0 0 0 1px black;
}

.allcolors{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.1rem;
    justify-content: center;
    text-transform: capitalize;
}

.colorb{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    align-items: center;
    cursor: pointer;
}

.colorb:hover{
    color: rgb(221, 221, 221);
}

.circle{
    position: relative;
    height: 1.85rem;
    width: 1.85rem;
    border-radius: 50%;
}

.tick{
    position: absolute;
    left: 22%;
    bottom: 43%;
   height: 0;
   width: 0;
    transform: rotate(-45deg);
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    visibility: hidden;
}

.tickactive{
    visibility: visible;
    width: 15px;
    height: 7px;
transition: width 150ms ease,height 150ms ease;
}

.colorb:hover > .cnameactive{
 color: black;
}

.shoelistbody{
    /* background-color: cadetblue; */
 display: flex;
 flex-wrap: wrap;
overflow-y: scroll;
 width: calc(100% - 15.8rem);
padding: 0 3.4rem;
gap: 1rem;
transition: width 290ms ease,opacity 200ms linear;

/* flex-grow: 1; */
}




.norbox:first-child,.norbox:last-child,.norbox{
    margin: 0%;
    padding-bottom: 3.6rem;
  width: 31.33%;
  cursor: pointer;
}

.image{
    position: relative;
    width: 100%;
}

.image::after{
    content: '';
    display: block;
    padding-top: 100%;
    
}

.norbox > .image img{
    /* width: 22.6vw;
   height: 22.6vw; */
   position: absolute;
   width: 100%;
  height: 100%;
  object-fit: cover;
}

.norbox .details p:first-child{
    font-size: 1rem;
  margin-top: 0.6rem;
}

.norbox .subdetail{
    font-size: 1rem;
    margin: 0 0 0.2rem  0;
    color: gray;
    text-transform: capitalize;
}

.norbox .subdetail:last-child{
    margin: 0  0 0.8rem 0;
}

.norbox .seconddetails{
    display: none;
}

.norbox:hover .details{
    display: none;
}

.norbox:hover .seconddetails{
    display: block;
}


.picturediv{
    margin: 1rem 0 2.02rem 0;
}

.picturediv img{
    object-position: cover;
margin-right: 0.5rem;
}



.norbox > p{
    transform: translate(0,0);
}

.norbox:hover > p{
    transform: translate(0,-37px);
    transition: transform 300ms ease 0s;
}