

  .signcover{
      z-index: 3;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(14, 13, 13, 0.507);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: scroll;

  }



  .signbox{
      position: relative;
      width: 420px;
      max-width: 100%;
      background-color: rgb(167, 92, 92);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.5rem 3.5rem;
   animation: transAnim 200ms ease  0s normal forwards;
  }


  @keyframes transAnim {
      0%{
          transform: translate(0,10%);
      }

      100%{
          transform: translate(0,0);
      }
  }




  .close{
      position: absolute;
      right: 1rem;
      top: 1rem;
      margin: 0;
      padding: 0;
  }

  .signbox h4{
      font-size: 1.8rem;
      margin: 0 0 0.4rem 0;
  }

  .signbox form{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
  }
  
  .signbox input {
      padding: 0.8rem;
      border-radius: 0.3rem;
      outline: none;
      border: 1px solid #e5e5e5;
  }

  .signbox form button{
      margin: 1rem 0 0 0 ;
      padding: 0.8rem ;
      color: white;
      border-radius: 0.3rem;
      background-color: black;
      text-decoration: none;
  }

 

  .signbox p{
      margin-top: 0.6rem;
      font-size: 0.85rem;
  }

  .signbox .erMessage{
      margin: 0 0 0.35rem 0;
      padding: 0;
      color: #fe0000;
  }

  .signbox button{
    background-color: transparent;
    font-size: 0.85rem;
    text-decoration: underline;
  }
