
.totaldiv{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 3rem;
    gap: 4rem;
}

.shoeimages{
    display: flex;
    width: calc(90% - 400px);
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}



.shoeimages  .image2{
    width: calc((100% - 1rem)/2);
    position: relative;
  
}

 .image2::after{
    content: '';
    display: block;
    padding-top: 120%;
}

.shoeimages .image2  img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
   cursor: pointer;
   border: 0.1px solid rgb(197, 197, 197);
border-radius: 1rem;
}

.infodiv{
    width: 400px;
    display: flex;
    flex-direction: column;
}

.infodiv .shoepictures img{
width: 6rem;
height: 6rem;
margin: 0 0.1rem 0 0;
}

.infodiv .shoetype{
    margin-top: 10px;
    text-transform: capitalize;
}

.infodiv .shoename{
    font-size: 1.82rem;
margin-top: 5px;
}

.infodiv .shoecost{
    margin-top: 13px;
}

.infodiv .pricedetail{
    color: gray;
    margin-top: 4px;
}

.shoepictures{
    margin: 5vh 0;
}



.shoepictures  img{
    border-radius: 0.4rem;
    cursor: pointer;
    box-sizing: border-box;
}

.shoepictures img:hover{
    border:  1px solid black;
}


.shoepicimg{
    border:  1px solid black;
}


p{
    margin: 0;
    font-size: 1.1rem;

}

.shoesizediv{
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:0.4rem;
    justify-content: space-between;
    border-radius: 0.4rem;
}

.shoesizediv_active{
    box-shadow:  rgb(212 63 33) 0px 0px 0px 1px;
}

.shoesize{
    width: calc((100% - 0.8rem)/3);
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0.8rem 0;
    border: rgb(177, 177, 177) 1px solid;
    border-radius: 0.4rem;
   text-align: center;

    /* check with fixed size for it */
}

.shoesize:hover{
   box-shadow: inset 0 0 0 1.5px black;
    cursor: pointer;
}

.shoesize_active{
    box-shadow: inset 0 0 0 1.5px black;

}



.infodiv .addcartbut,.favbut,.addcartbut2{
    background-color: black;
    color: white;
    outline: none;
    border: none;
    padding: 1.2rem 0;
    font-size: 1rem;
    border-radius: 1.9rem;
    margin-bottom: 1rem;
}




.infodiv .addcartbut2{
    display: var(--displaynone);
   position: fixed;
   bottom: 0;
 left: 10%;
 width: 80%;
margin: 0;
   visibility: hidden;
}



.infodiv .addcartbut_active{
    visibility: visible;
    position: fixed;
    width: 100%;
    border-radius: 0;
    left: 0;
transition: width 300ms linear, left 300ms linear , border-radius 300ms linear;
}



.infodiv button{
    cursor: pointer;
}

.favbut{
    background-color: white;
    color: black;
    border: rgb(158, 158, 158) 1px solid;
    transition: background-color 100ms ease, color 100ms linear;
}

.favbut_active{
    background-color: #fe0000;
    color: white;
    animation: popup 300ms ease 0s 2 alternate forwards;
}

@keyframes popup {
    
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.02,1.1);
    }
}

.shoedetails{
    margin: 2.5rem 0;
    font-size: 1.06rem;
    line-height: 1.7rem;
}

.changedir{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
}

.tog:last-child{
    margin: 0.6rem 0 0 0;
    width: 30%;
    text-align: right;
}

.shoeimages2cover{
    display: var(--displaynone);
    position: relative;
    width: 100%;
  overflow-x: scroll;
scroll-snap-type: x mandatory;
margin: 1rem 0 0 0;
}

.shoeimages2{
    height: 100%;
    display: inline-flex;
    gap: 0.5rem;
   position: relative;
}

.shoeimages2 .image2{
    scroll-snap-align: center;
width: 100vw;
position: relative;
}



.shoeimages2 .image2 img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
object-fit: cover;
}



.shoeimages2cover::-webkit-scrollbar{
    height: 0.3rem;
}

.shoeimages2cover:hover::-webkit-scrollbar-thumb{
    visibility:visible;
}


.shoeimages2cover::-webkit-scrollbar-thumb{
    background-color: rgb(146, 142, 142);
    border-radius: 1rem;
    visibility: hidden;
}


.shoeimages2cover::-webkit-scrollbar-track-piece{
    visibility: hidden;
}

/* .shoeimages2cover::-webkit-scrollbar-track{
  margin: 0 10vw;
} */

@media only screen and (max-width: 3020px) {
:root{
    --displaynone: none;
}

  
}


@media only screen and (max-width: 1024px) {

    .totaldiv{
        margin: 1rem;
    }

    :root{
        --displaynone: block;
    }

    .shoeimages{
        display: none;
    }

    .infodiv{
        width: 100%;
    }

 
}

